.group-search-wrapper {

}
.group-search-form { 
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.group-search-form label {
  font-weight: bold;
  min-width: 120px;
}
.group-search-form .form-text {
  max-width: 190px;
}
.group-search-form .submit-buttons {
  text-align: center;
}
.group-search-list { 
  display: inline-block;
  width: 65%;
  margin-left: 4%;
}

.group-data-title {
  margin: 10px 0;
}
.group-data-block {
  margin-bottom: 30px;
  width: 100%;
}
.group-data-block table {
  width: 100%;
}
.group-data-block th {
  font-weight: bold;
}
.group-data-block .dataTables_paginate {
  text-align: center;
}
.group-data-block .dataTables_filter {
  font-weight: bold; 
  padding: 10px;
}
.group-data-block .dataTables_filter .form-control {
  margin-left: 10px;
}
.group-search-list .group-item {
  margin: 15px 0;
}
.group-search-list .group-desc {
  font-size: 18px;
}
.group-search-list .penalty-count {
  border: 1px solid #FD8D8D;
  background: #FFF;
  font-size: 13px;
  padding: 0 3px;
  margin-left: 10px;
  color: #333;
}
.group-search-list .group-company {
  color: #777;
}
