.group-search-wrapper {

}
.group-search-form { 
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.group-search-form label {
  font-weight: bold;
  min-width: 120px;
}
.group-search-form .form-text {
  max-width: 190px;
}
.group-search-form .submit-buttons {
  text-align: center;
}
.group-search-list { 
  display: inline-block;
  width: 65%;
  margin-left: 4%;
}

.group-data-title {
  margin: 10px 0;
}
.group-data-block {
  margin-bottom: 30px;
  width: 100%;
}
.group-data-block table {
  width: 100%;
}
.group-data-block th {
  font-weight: bold;
}
.group-data-block .dataTables_paginate {
  text-align: center;
}
.group-data-block .dataTables_filter {
  font-weight: bold; 
  padding: 10px;
}
.group-data-block .dataTables_filter .form-control {
  margin-left: 10px;
}
